<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Awesome-pyecharts</title>
            <script type="text/javascript" src="https://assets.pyecharts.org/assets/echarts.min.js"></script>

    
</head>
<body>
    <style>.box { justify-content:center; display:flex; flex-wrap:wrap;  }; </style>
    <div class="box">
                <div id="7c54f67ac7cc43b6888e27e8f24221b8" class="chart-container" style="width:90%; height:500px;"></div>
    <script>
        var chart_7c54f67ac7cc43b6888e27e8f24221b8 = echarts.init(
            document.getElementById('7c54f67ac7cc43b6888e27e8f24221b8'), 'white', {renderer: 'canvas'});
        var option_7c54f67ac7cc43b6888e27e8f24221b8 = {
    "animation": true,
    "animationThreshold": 2000,
    "animationDuration": 1000,
    "animationEasing": "cubicOut",
    "animationDelay": 0,
    "animationDurationUpdate": 300,
    "animationEasingUpdate": "cubicOut",
    "animationDelayUpdate": 0,
    "color": [
        "#c23531",
        "#2f4554",
        "#61a0a8",
        "#d48265",
        "#749f83",
        "#ca8622",
        "#bda29a",
        "#6e7074",
        "#546570",
        "#c4ccd3",
        "#f05b72",
        "#ef5b9c",
        "#f47920",
        "#905a3d",
        "#fab27b",
        "#2a5caa",
        "#444693",
        "#726930",
        "#b2d235",
        "#6d8346",
        "#ac6767",
        "#1d953f",
        "#6950a1",
        "#918597"
    ],
    "series": [
        {
            "type": "pie",
            "clockwise": true,
            "data": [
                {
                    "name": "responseSuccessCount",
                    "value": 112388
                },
                {
                    "name": "responseErrorCount",
                    "value": 0
                },
                {
                    "name": "requestRedirectCount",
                    "value": 0
                },
                {
                    "name": "pageLoadTimeoutCount",
                    "value": 0
                },
                {
                    "name": "nonHtmlResponseCount",
                    "value": 0
                },
                {
                    "name": "networkErrorCount",
                    "value": 138
                }
            ],
            "radius": [
                0,
                150.0
            ],
            "center": [
                "35%",
                "50%"
            ],
            "label": {
                "show": true,
                "position": "top",
                "margin": 8,
                "formatter": "{b}: {c}"
            },
            "rippleEffect": {
                "show": true,
                "brushType": "stroke",
                "scale": 2.5,
                "period": 4
            }
        },
        {
            "type": "pie",
            "clockwise": true,
            "data": [
                {
                    "name": "filteredDuplicateItemCount",
                    "value": 395162
                },
                {
                    "name": "parseErrorCount",
                    "value": 198
                },
                {
                    "name": "parseItemCount",
                    "value": 55087
                }
            ],
            "radius": [
                0,
                150.0
            ],
            "center": [
                "70%",
                "50%"
            ],
            "label": {
                "show": true,
                "position": "top",
                "margin": 8,
                "formatter": "{b}: {c}"
            },
            "rippleEffect": {
                "show": true,
                "brushType": "stroke",
                "scale": 2.5,
                "period": 4
            }
        }
    ],
    "legend": [
        {
            "data": [
                "responseSuccessCount",
                "responseErrorCount",
                "requestRedirectCount",
                "pageLoadTimeoutCount",
                "nonHtmlResponseCount",
                "networkErrorCount",
                "filteredDuplicateItemCount",
                "parseErrorCount",
                "parseItemCount"
            ],
            "selected": {},
            "show": true,
            "left": "15%",
            "orient": "vertical",
            "padding": 5,
            "itemGap": 10,
            "itemWidth": 25,
            "itemHeight": 14
        }
    ],
    "tooltip": {
        "show": true,
        "trigger": "item",
        "triggerOn": "mousemove|click",
        "axisPointer": {
            "type": "line"
        },
        "textStyle": {
            "fontSize": 14
        },
        "borderWidth": 0
    },
    "title": [
        {
            "text": "crawler statistic"
        }
    ]
};
        chart_7c54f67ac7cc43b6888e27e8f24221b8.setOption(option_7c54f67ac7cc43b6888e27e8f24221b8);
    </script>
<br/>                <div id="ebb93db4ed8c4bf5a5a1d5277288e296" class="chart-container" style="width:90%; height:500px;"></div>
    <script>
        var chart_ebb93db4ed8c4bf5a5a1d5277288e296 = echarts.init(
            document.getElementById('ebb93db4ed8c4bf5a5a1d5277288e296'), 'white', {renderer: 'canvas'});
        var option_ebb93db4ed8c4bf5a5a1d5277288e296 = {
    "animation": true,
    "animationThreshold": 2000,
    "animationDuration": 1000,
    "animationEasing": "cubicOut",
    "animationDelay": 0,
    "animationDurationUpdate": 300,
    "animationEasingUpdate": "cubicOut",
    "animationDelayUpdate": 0,
    "color": [
        "#c23531",
        "#2f4554",
        "#61a0a8",
        "#d48265",
        "#749f83",
        "#ca8622",
        "#bda29a",
        "#6e7074",
        "#546570",
        "#c4ccd3",
        "#f05b72",
        "#ef5b9c",
        "#f47920",
        "#905a3d",
        "#fab27b",
        "#2a5caa",
        "#444693",
        "#726930",
        "#b2d235",
        "#6d8346",
        "#ac6767",
        "#1d953f",
        "#6950a1",
        "#918597"
    ],
    "series": [
        {
            "type": "line",
            "name": "filteredDuplicateItemCount",
            "connectNulls": false,
            "symbolSize": 4,
            "showSymbol": true,
            "smooth": false,
            "step": false,
            "data": [
                [
                    "00:34:01",
                    5112
                ],
                [
                    "00:58:27",
                    4111
                ],
                [
                    "01:15:10",
                    2188
                ],
                [
                    "01:28:32",
                    7062
                ],
                [
                    "01:46:12",
                    6804
                ],
                [
                    "01:55:06",
                    4455
                ],
                [
                    "02:02:21",
                    3452
                ],
                [
                    "02:59:07",
                    13718
                ],
                [
                    "03:07:19",
                    2760
                ],
                [
                    "03:23:20",
                    3869
                ],
                [
                    "03:36:29",
                    4627
                ],
                [
                    "03:44:35",
                    3681
                ],
                [
                    "03:56:10",
                    2622
                ],
                [
                    "04:09:35",
                    3045
                ],
                [
                    "04:21:59",
                    3491
                ],
                [
                    "04:37:02",
                    2791
                ],
                [
                    "04:43:58",
                    2683
                ],
                [
                    "05:12:36",
                    7337
                ],
                [
                    "05:41:41",
                    6425
                ],
                [
                    "05:53:01",
                    3929
                ],
                [
                    "06:00:27",
                    3010
                ],
                [
                    "06:09:21",
                    2722
                ],
                [
                    "06:17:27",
                    3091
                ],
                [
                    "06:25:27",
                    2382
                ],
                [
                    "06:31:35",
                    1765
                ],
                [
                    "06:37:15",
                    2476
                ],
                [
                    "06:45:23",
                    3958
                ],
                [
                    "06:50:13",
                    2711
                ],
                [
                    "07:01:37",
                    5104
                ],
                [
                    "07:14:54",
                    3058
                ],
                [
                    "07:21:40",
                    2651
                ],
                [
                    "07:31:46",
                    4434
                ],
                [
                    "07:42:49",
                    4357
                ],
                [
                    "07:53:32",
                    2828
                ],
                [
                    "08:03:14",
                    3246
                ],
                [
                    "08:13:05",
                    3349
                ],
                [
                    "08:20:48",
                    2376
                ],
                [
                    "08:36:13",
                    4519
                ],
                [
                    "08:43:18",
                    2819
                ],
                [
                    "08:51:14",
                    2759
                ],
                [
                    "09:11:55",
                    4991
                ],
                [
                    "09:50:18",
                    3127
                ],
                [
                    "10:25:11",
                    5307
                ],
                [
                    "11:02:41",
                    3799
                ],
                [
                    "11:34:55",
                    3224
                ],
                [
                    "12:17:32",
                    4995
                ],
                [
                    "13:00:24",
                    7947
                ],
                [
                    "13:44:53",
                    3859
                ],
                [
                    "14:02:48",
                    3519
                ],
                [
                    "14:08:02",
                    1800
                ],
                [
                    "14:19:39",
                    4206
                ],
                [
                    "14:27:55",
                    2640
                ],
                [
                    "14:43:11",
                    5870
                ],
                [
                    "14:50:12",
                    2858
                ],
                [
                    "14:55:31",
                    2201
                ],
                [
                    "15:21:32",
                    2933
                ],
                [
                    "15:25:57",
                    1814
                ],
                [
                    "15:31:34",
                    2350
                ],
                [
                    "15:42:04",
                    2821
                ],
                [
                    "15:49:21",
                    2646
                ],
                [
                    "16:00:11",
                    5234
                ],
                [
                    "16:09:09",
                    3766
                ],
                [
                    "16:18:58",
                    3027
                ],
                [
                    "16:28:10",
                    1814
                ],
                [
                    "16:36:27",
                    3842
                ],
                [
                    "16:45:14",
                    2437
                ],
                [
                    "16:53:47",
                    2306
                ],
                [
                    "17:06:38",
                    4633
                ],
                [
                    "17:15:55",
                    2051
                ],
                [
                    "17:21:55",
                    2544
                ],
                [
                    "17:29:55",
                    2815
                ],
                [
                    "17:42:15",
                    3517
                ],
                [
                    "17:48:10",
                    2308
                ],
                [
                    "17:57:08",
                    2249
                ],
                [
                    "18:06:01",
                    4190
                ],
                [
                    "18:18:02",
                    4054
                ],
                [
                    "18:23:09",
                    2329
                ],
                [
                    "18:30:09",
                    2409
                ],
                [
                    "18:52:07",
                    3102
                ],
                [
                    "18:58:00",
                    1691
                ],
                [
                    "18:59:34",
                    1086
                ],
                [
                    "19:11:47",
                    5122
                ],
                [
                    "19:16:47",
                    1903
                ],
                [
                    "19:25:23",
                    3193
                ],
                [
                    "19:34:04",
                    1716
                ],
                [
                    "19:40:31",
                    1870
                ],
                [
                    "19:45:38",
                    2099
                ],
                [
                    "19:53:24",
                    2885
                ],
                [
                    "19:57:08",
                    1345
                ],
                [
                    "20:01:31",
                    1853
                ],
                [
                    "20:05:58",
                    2341
                ],
                [
                    "20:11:41",
                    1691
                ],
                [
                    "20:23:55",
                    5137
                ],
                [
                    "20:36:08",
                    3678
                ],
                [
                    "20:43:29",
                    2932
                ],
                [
                    "20:51:02",
                    1862
                ],
                [
                    "21:00:10",
                    1970
                ],
                [
                    "21:11:04",
                    3530
                ],
                [
                    "21:13:50",
                    1126
                ],
                [
                    "21:19:23",
                    2345
                ],
                [
                    "21:24:48",
                    2141
                ],
                [
                    "21:29:54",
                    2123
                ],
                [
                    "21:35:52",
                    1664
                ],
                [
                    "21:43:02",
                    2589
                ],
                [
                    "21:47:04",
                    1770
                ],
                [
                    "21:52:45",
                    1643
                ],
                [
                    "21:57:17",
                    1713
                ],
                [
                    "22:05:22",
                    2427
                ],
                [
                    "22:13:34",
                    3854
                ],
                [
                    "22:19:39",
                    2614
                ],
                [
                    "22:26:30",
                    3538
                ],
                [
                    "22:30:21",
                    1571
                ],
                [
                    "22:33:49",
                    1180
                ],
                [
                    "22:38:10",
                    1936
                ],
                [
                    "22:44:04",
                    2308
                ],
                [
                    "22:53:00",
                    3307
                ],
                [
                    "22:57:10",
                    1052
                ],
                [
                    "23:02:44",
                    2463
                ],
                [
                    "23:08:16",
                    2345
                ],
                [
                    "23:13:55",
                    1606
                ],
                [
                    "23:22:40",
                    2161
                ],
                [
                    "23:27:40",
                    2170
                ],
                [
                    "23:37:50",
                    2093
                ],
                [
                    "23:43:53",
                    1930
                ],
                [
                    "23:50:13",
                    2278
                ]
            ],
            "hoverAnimation": true,
            "label": {
                "show": true,
                "position": "top",
                "margin": 8
            },
            "lineStyle": {
                "width": 1,
                "opacity": 1,
                "curveness": 0,
                "type": "solid"
            },
            "areaStyle": {
                "opacity": 0
            }
        },
        {
            "type": "line",
            "name": "parseErrorCount",
            "connectNulls": false,
            "symbolSize": 4,
            "showSymbol": true,
            "smooth": false,
            "step": false,
            "data": [
                [
                    "00:34:01",
                    0
                ],
                [
                    "00:58:27",
                    0
                ],
                [
                    "01:15:10",
                    0
                ],
                [
                    "01:28:32",
                    1
                ],
                [
                    "01:46:12",
                    1
                ],
                [
                    "01:55:06",
                    0
                ],
                [
                    "02:02:21",
                    0
                ],
                [
                    "02:59:07",
                    0
                ],
                [
                    "03:07:19",
                    0
                ],
                [
                    "03:23:20",
                    15
                ],
                [
                    "03:36:29",
                    0
                ],
                [
                    "03:44:35",
                    0
                ],
                [
                    "03:56:10",
                    0
                ],
                [
                    "04:09:35",
                    0
                ],
                [
                    "04:21:59",
                    2
                ],
                [
                    "04:37:02",
                    0
                ],
                [
                    "04:43:58",
                    1
                ],
                [
                    "05:12:36",
                    7
                ],
                [
                    "05:41:41",
                    0
                ],
                [
                    "05:53:01",
                    0
                ],
                [
                    "06:00:27",
                    3
                ],
                [
                    "06:09:21",
                    1
                ],
                [
                    "06:17:27",
                    0
                ],
                [
                    "06:25:27",
                    0
                ],
                [
                    "06:31:35",
                    0
                ],
                [
                    "06:37:15",
                    0
                ],
                [
                    "06:45:23",
                    1
                ],
                [
                    "06:50:13",
                    1
                ],
                [
                    "07:01:37",
                    0
                ],
                [
                    "07:14:54",
                    0
                ],
                [
                    "07:21:40",
                    1
                ],
                [
                    "07:31:46",
                    2
                ],
                [
                    "07:42:49",
                    3
                ],
                [
                    "07:53:32",
                    0
                ],
                [
                    "08:03:14",
                    0
                ],
                [
                    "08:13:05",
                    2
                ],
                [
                    "08:20:48",
                    0
                ],
                [
                    "08:36:13",
                    2
                ],
                [
                    "08:43:18",
                    1
                ],
                [
                    "08:51:14",
                    2
                ],
                [
                    "09:11:55",
                    1
                ],
                [
                    "09:50:18",
                    0
                ],
                [
                    "10:25:11",
                    1
                ],
                [
                    "11:02:41",
                    0
                ],
                [
                    "11:34:55",
                    18
                ],
                [
                    "12:17:32",
                    1
                ],
                [
                    "13:00:24",
                    0
                ],
                [
                    "13:44:53",
                    0
                ],
                [
                    "14:02:48",
                    1
                ],
                [
                    "14:08:02",
                    0
                ],
                [
                    "14:19:39",
                    0
                ],
                [
                    "14:27:55",
                    4
                ],
                [
                    "14:43:11",
                    0
                ],
                [
                    "14:50:12",
                    16
                ],
                [
                    "14:55:31",
                    2
                ],
                [
                    "15:21:32",
                    10
                ],
                [
                    "15:25:57",
                    1
                ],
                [
                    "15:31:34",
                    0
                ],
                [
                    "15:42:04",
                    0
                ],
                [
                    "15:49:21",
                    0
                ],
                [
                    "16:00:11",
                    0
                ],
                [
                    "16:09:09",
                    0
                ],
                [
                    "16:18:58",
                    0
                ],
                [
                    "16:28:10",
                    2
                ],
                [
                    "16:36:27",
                    2
                ],
                [
                    "16:45:14",
                    1
                ],
                [
                    "16:53:47",
                    0
                ],
                [
                    "17:06:38",
                    2
                ],
                [
                    "17:15:55",
                    0
                ],
                [
                    "17:21:55",
                    1
                ],
                [
                    "17:29:55",
                    3
                ],
                [
                    "17:42:15",
                    2
                ],
                [
                    "17:48:10",
                    1
                ],
                [
                    "17:57:08",
                    0
                ],
                [
                    "18:06:01",
                    3
                ],
                [
                    "18:18:02",
                    5
                ],
                [
                    "18:23:09",
                    2
                ],
                [
                    "18:30:09",
                    0
                ],
                [
                    "18:52:07",
                    1
                ],
                [
                    "18:58:00",
                    0
                ],
                [
                    "18:59:34",
                    0
                ],
                [
                    "19:11:47",
                    5
                ],
                [
                    "19:16:47",
                    3
                ],
                [
                    "19:25:23",
                    12
                ],
                [
                    "19:34:04",
                    1
                ],
                [
                    "19:40:31",
                    0
                ],
                [
                    "19:45:38",
                    1
                ],
                [
                    "19:53:24",
                    0
                ],
                [
                    "19:57:08",
                    1
                ],
                [
                    "20:01:31",
                    3
                ],
                [
                    "20:05:58",
                    0
                ],
                [
                    "20:11:41",
                    1
                ],
                [
                    "20:23:55",
                    3
                ],
                [
                    "20:36:08",
                    1
                ],
                [
                    "20:43:29",
                    0
                ],
                [
                    "20:51:02",
                    2
                ],
                [
                    "21:00:10",
                    0
                ],
                [
                    "21:11:04",
                    0
                ],
                [
                    "21:13:50",
                    1
                ],
                [
                    "21:19:23",
                    0
                ],
                [
                    "21:24:48",
                    1
                ],
                [
                    "21:29:54",
                    0
                ],
                [
                    "21:35:52",
                    0
                ],
                [
                    "21:43:02",
                    0
                ],
                [
                    "21:47:04",
                    0
                ],
                [
                    "21:52:45",
                    1
                ],
                [
                    "21:57:17",
                    5
                ],
                [
                    "22:05:22",
                    0
                ],
                [
                    "22:13:34",
                    2
                ],
                [
                    "22:19:39",
                    1
                ],
                [
                    "22:26:30",
                    2
                ],
                [
                    "22:30:21",
                    2
                ],
                [
                    "22:33:49",
                    0
                ],
                [
                    "22:38:10",
                    3
                ],
                [
                    "22:44:04",
                    2
                ],
                [
                    "22:53:00",
                    7
                ],
                [
                    "22:57:10",
                    0
                ],
                [
                    "23:02:44",
                    0
                ],
                [
                    "23:08:16",
                    2
                ],
                [
                    "23:13:55",
                    1
                ],
                [
                    "23:22:40",
                    0
                ],
                [
                    "23:27:40",
                    0
                ],
                [
                    "23:37:50",
                    1
                ],
                [
                    "23:43:53",
                    4
                ],
                [
                    "23:50:13",
                    4
                ]
            ],
            "hoverAnimation": true,
            "label": {
                "show": true,
                "position": "top",
                "margin": 8
            },
            "lineStyle": {
                "width": 1,
                "opacity": 1,
                "curveness": 0,
                "type": "solid"
            },
            "areaStyle": {
                "opacity": 0
            }
        },
        {
            "type": "line",
            "name": "parseItemCount",
            "connectNulls": false,
            "symbolSize": 4,
            "showSymbol": true,
            "smooth": false,
            "step": false,
            "data": [
                [
                    "00:34:01",
                    81
                ],
                [
                    "00:58:27",
                    342
                ],
                [
                    "01:15:10",
                    116
                ],
                [
                    "01:28:32",
                    620
                ],
                [
                    "01:46:12",
                    502
                ],
                [
                    "01:55:06",
                    329
                ],
                [
                    "02:02:21",
                    366
                ],
                [
                    "02:59:07",
                    3982
                ],
                [
                    "03:07:19",
                    556
                ],
                [
                    "03:23:20",
                    1114
                ],
                [
                    "03:36:29",
                    887
                ],
                [
                    "03:44:35",
                    227
                ],
                [
                    "03:56:10",
                    709
                ],
                [
                    "04:09:35",
                    883
                ],
                [
                    "04:21:59",
                    806
                ],
                [
                    "04:37:02",
                    869
                ],
                [
                    "04:43:58",
                    327
                ],
                [
                    "05:12:36",
                    1978
                ],
                [
                    "05:41:41",
                    1575
                ],
                [
                    "05:53:01",
                    502
                ],
                [
                    "06:00:27",
                    295
                ],
                [
                    "06:09:21",
                    521
                ],
                [
                    "06:17:27",
                    338
                ],
                [
                    "06:25:27",
                    297
                ],
                [
                    "06:31:35",
                    193
                ],
                [
                    "06:37:15",
                    169
                ],
                [
                    "06:45:23",
                    402
                ],
                [
                    "06:50:13",
                    204
                ],
                [
                    "07:01:37",
                    553
                ],
                [
                    "07:14:54",
                    431
                ],
                [
                    "07:21:40",
                    351
                ],
                [
                    "07:31:46",
                    482
                ],
                [
                    "07:42:49",
                    496
                ],
                [
                    "07:53:32",
                    376
                ],
                [
                    "08:03:14",
                    385
                ],
                [
                    "08:13:05",
                    745
                ],
                [
                    "08:20:48",
                    245
                ],
                [
                    "08:36:13",
                    662
                ],
                [
                    "08:43:18",
                    305
                ],
                [
                    "08:51:14",
                    463
                ],
                [
                    "09:11:55",
                    1192
                ],
                [
                    "09:50:18",
                    181
                ],
                [
                    "10:25:11",
                    190
                ],
                [
                    "11:02:41",
                    521
                ],
                [
                    "11:34:55",
                    190
                ],
                [
                    "12:17:32",
                    541
                ],
                [
                    "13:00:24",
                    241
                ],
                [
                    "13:44:53",
                    396
                ],
                [
                    "14:02:48",
                    507
                ],
                [
                    "14:08:02",
                    162
                ],
                [
                    "14:19:39",
                    475
                ],
                [
                    "14:27:55",
                    528
                ],
                [
                    "14:43:11",
                    372
                ],
                [
                    "14:50:12",
                    335
                ],
                [
                    "14:55:31",
                    265
                ],
                [
                    "15:21:32",
                    530
                ],
                [
                    "15:25:57",
                    51
                ],
                [
                    "15:31:34",
                    212
                ],
                [
                    "15:42:04",
                    449
                ],
                [
                    "15:49:21",
                    409
                ],
                [
                    "16:00:11",
                    647
                ],
                [
                    "16:09:09",
                    463
                ],
                [
                    "16:18:58",
                    142
                ],
                [
                    "16:28:10",
                    344
                ],
                [
                    "16:36:27",
                    402
                ],
                [
                    "16:45:14",
                    395
                ],
                [
                    "16:53:47",
                    394
                ],
                [
                    "17:06:38",
                    526
                ],
                [
                    "17:15:55",
                    345
                ],
                [
                    "17:21:55",
                    316
                ],
                [
                    "17:29:55",
                    287
                ],
                [
                    "17:42:15",
                    558
                ],
                [
                    "17:48:10",
                    373
                ],
                [
                    "17:57:08",
                    506
                ],
                [
                    "18:06:01",
                    547
                ],
                [
                    "18:18:02",
                    876
                ],
                [
                    "18:23:09",
                    236
                ],
                [
                    "18:30:09",
                    249
                ],
                [
                    "18:52:07",
                    1150
                ],
                [
                    "18:58:00",
                    147
                ],
                [
                    "18:59:34",
                    78
                ],
                [
                    "19:11:47",
                    639
                ],
                [
                    "19:16:47",
                    275
                ],
                [
                    "19:25:23",
                    477
                ],
                [
                    "19:34:04",
                    157
                ],
                [
                    "19:40:31",
                    267
                ],
                [
                    "19:45:38",
                    264
                ],
                [
                    "19:53:24",
                    432
                ],
                [
                    "19:57:08",
                    219
                ],
                [
                    "20:01:31",
                    253
                ],
                [
                    "20:05:58",
                    201
                ],
                [
                    "20:11:41",
                    386
                ],
                [
                    "20:23:55",
                    727
                ],
                [
                    "20:36:08",
                    452
                ],
                [
                    "20:43:29",
                    296
                ],
                [
                    "20:51:02",
                    160
                ],
                [
                    "21:00:10",
                    238
                ],
                [
                    "21:11:04",
                    314
                ],
                [
                    "21:13:50",
                    186
                ],
                [
                    "21:19:23",
                    263
                ],
                [
                    "21:24:48",
                    220
                ],
                [
                    "21:29:54",
                    306
                ],
                [
                    "21:35:52",
                    194
                ],
                [
                    "21:43:02",
                    374
                ],
                [
                    "21:47:04",
                    229
                ],
                [
                    "21:52:45",
                    136
                ],
                [
                    "21:57:17",
                    180
                ],
                [
                    "22:05:22",
                    464
                ],
                [
                    "22:13:34",
                    417
                ],
                [
                    "22:19:39",
                    265
                ],
                [
                    "22:26:30",
                    393
                ],
                [
                    "22:30:21",
                    234
                ],
                [
                    "22:33:49",
                    186
                ],
                [
                    "22:38:10",
                    265
                ],
                [
                    "22:44:04",
                    322
                ],
                [
                    "22:53:00",
                    434
                ],
                [
                    "22:57:10",
                    120
                ],
                [
                    "23:02:44",
                    363
                ],
                [
                    "23:08:16",
                    260
                ],
                [
                    "23:13:55",
                    167
                ],
                [
                    "23:22:40",
                    686
                ],
                [
                    "23:27:40",
                    250
                ],
                [
                    "23:37:50",
                    241
                ],
                [
                    "23:43:53",
                    472
                ],
                [
                    "23:50:13",
                    291
                ]
            ],
            "hoverAnimation": true,
            "label": {
                "show": true,
                "position": "top",
                "margin": 8
            },
            "lineStyle": {
                "width": 1,
                "opacity": 1,
                "curveness": 0,
                "type": "solid"
            },
            "areaStyle": {
                "opacity": 0
            }
        }
    ],
    "legend": [
        {
            "data": [
                "filteredDuplicateItemCount",
                "parseErrorCount",
                "parseItemCount"
            ],
            "selected": {
                "filteredDuplicateItemCount": true,
                "parseErrorCount": true,
                "parseItemCount": true
            },
            "show": true,
            "top": "5%",
            "padding": 5,
            "itemGap": 10,
            "itemWidth": 25,
            "itemHeight": 14
        }
    ],
    "tooltip": {
        "show": true,
        "trigger": "item",
        "triggerOn": "mousemove|click",
        "axisPointer": {
            "type": "line"
        },
        "textStyle": {
            "fontSize": 14
        },
        "borderWidth": 0
    },
    "xAxis": [
        {
            "show": true,
            "scale": false,
            "nameLocation": "end",
            "nameGap": 15,
            "gridIndex": 0,
            "inverse": false,
            "offset": 0,
            "splitNumber": 5,
            "minInterval": 0,
            "splitLine": {
                "show": false,
                "lineStyle": {
                    "width": 1,
                    "opacity": 1,
                    "curveness": 0,
                    "type": "solid"
                }
            },
            "data": [
                "00:34:01",
                "00:58:27",
                "01:15:10",
                "01:28:32",
                "01:46:12",
                "01:55:06",
                "02:02:21",
                "02:59:07",
                "03:07:19",
                "03:23:20",
                "03:36:29",
                "03:44:35",
                "03:56:10",
                "04:09:35",
                "04:21:59",
                "04:37:02",
                "04:43:58",
                "05:12:36",
                "05:41:41",
                "05:53:01",
                "06:00:27",
                "06:09:21",
                "06:17:27",
                "06:25:27",
                "06:31:35",
                "06:37:15",
                "06:45:23",
                "06:50:13",
                "07:01:37",
                "07:14:54",
                "07:21:40",
                "07:31:46",
                "07:42:49",
                "07:53:32",
                "08:03:14",
                "08:13:05",
                "08:20:48",
                "08:36:13",
                "08:43:18",
                "08:51:14",
                "09:11:55",
                "09:50:18",
                "10:25:11",
                "11:02:41",
                "11:34:55",
                "12:17:32",
                "13:00:24",
                "13:44:53",
                "14:02:48",
                "14:08:02",
                "14:19:39",
                "14:27:55",
                "14:43:11",
                "14:50:12",
                "14:55:31",
                "15:21:32",
                "15:25:57",
                "15:31:34",
                "15:42:04",
                "15:49:21",
                "16:00:11",
                "16:09:09",
                "16:18:58",
                "16:28:10",
                "16:36:27",
                "16:45:14",
                "16:53:47",
                "17:06:38",
                "17:15:55",
                "17:21:55",
                "17:29:55",
                "17:42:15",
                "17:48:10",
                "17:57:08",
                "18:06:01",
                "18:18:02",
                "18:23:09",
                "18:30:09",
                "18:52:07",
                "18:58:00",
                "18:59:34",
                "19:11:47",
                "19:16:47",
                "19:25:23",
                "19:34:04",
                "19:40:31",
                "19:45:38",
                "19:53:24",
                "19:57:08",
                "20:01:31",
                "20:05:58",
                "20:11:41",
                "20:23:55",
                "20:36:08",
                "20:43:29",
                "20:51:02",
                "21:00:10",
                "21:11:04",
                "21:13:50",
                "21:19:23",
                "21:24:48",
                "21:29:54",
                "21:35:52",
                "21:43:02",
                "21:47:04",
                "21:52:45",
                "21:57:17",
                "22:05:22",
                "22:13:34",
                "22:19:39",
                "22:26:30",
                "22:30:21",
                "22:33:49",
                "22:38:10",
                "22:44:04",
                "22:53:00",
                "22:57:10",
                "23:02:44",
                "23:08:16",
                "23:13:55",
                "23:22:40",
                "23:27:40",
                "23:37:50",
                "23:43:53",
                "23:50:13"
            ]
        }
    ],
    "yAxis": [
        {
            "show": true,
            "scale": false,
            "nameLocation": "end",
            "nameGap": 15,
            "gridIndex": 0,
            "inverse": false,
            "offset": 0,
            "splitNumber": 5,
            "minInterval": 0,
            "splitLine": {
                "show": false,
                "lineStyle": {
                    "width": 1,
                    "opacity": 1,
                    "curveness": 0,
                    "type": "solid"
                }
            }
        }
    ],
    "title": [
        {
            "text": "\u65f6\u5e8f\u56fe",
            "top": "48%"
        }
    ]
};
        chart_ebb93db4ed8c4bf5a5a1d5277288e296.setOption(option_ebb93db4ed8c4bf5a5a1d5277288e296);
    </script>
<br/>    </div>
    <script>
    </script>
</body>
</html>
